body{
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    height: 100%;
    min-height: 100%;
    width: 90%;
    max-width: 450px;
    margin: 1rem auto;
    padding-top: 2rem;
}

.hero-bg{
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    height: 25%;
    min-height: 25%;
    background-repeat: no-repeat;
    background-clip:border-box;
    background-position: 50% 0%;
    z-index: -1;
}

.header{
    margin-top: 0.5rem;
    display: flex;
}

h1 {
    margin: 0 !important;
}

.title{
    flex-grow: 4;
    color:white;
    font-variant-caps:all-petite-caps;
    font-weight: 400;
    letter-spacing: 0.8rem;
    font-size: 1.2rem;
}

.darkmode-switch-wrapper{
    width: 2rem;
    height: 2rem;
}

.darkmode-switch-wrapper input[type="checkbox"]{
    opacity: 0;
    position: relative;
    display:none;
}

.main-app-content{
    margin-top: 10%;
}

.input-wrapper{
    width: 100%;
    min-height: 3.5rem;
    border-radius: 7px;
    display:flex;
}

.check-wrapper{
    flex-grow: 0.3;
    align-self: center;
    margin: 0 auto;
}

.check-wrapper input[type="checkbox"]{
    opacity: 0;
    display:none;
}

.check-wrapper input:checked + .checkmark{
    background-position:0%;
    background-image: linear-gradient(130deg, hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}

.check-wrapper input:checked + .check-icon{
    transform: rotate3d(0,1,0,0deg);
}

.check-icon{
    margin: 23%;
    width: 0.9rem;
    height: 0.8rem;
}

.checkmark{
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 100%;
    margin: auto;
}

.task-done-label{
    display: block;
    width: 3.5rem;
    margin-right: -0.5rem;
}

.form-wrapper{
    flex-grow: 5;
    height: 100%;
    align-content: center;
}

.form-wrapper input[type="text"] {
    width: 90%;
    margin-top: 0.4rem;
    min-height: 2.5rem;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
}

.form-wrapper input[type="text"]:focus {
    border: none !important;
}

.button-to-hide{
    opacity: 0;
    width: 0px;
    max-width: 0px;
    display:none;
}

.todos-list-wrapper{
    width: 100%;
    min-height: 3.5rem;
    border-radius: 7px;
    margin-top: 1.3rem;
}

.to-do{
    display:flex;
    width: 100%;
    min-height: 3.5rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.to-do:first-of-type{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.task-single-wrapper{
    width: 100%;
    min-height: 3.5rem;
    border-radius: 7px;
    display:flex;
}

.task-label{
    display: flex;
    flex-grow: 1;
    height: 100%;
    font-weight: lighter;
    width: 90%;
    padding: 0.6rem;
}

.task-clear-label{
    opacity: 0;
    flex-grow: 2;
    align-self: center;
    justify-self: center;
    width: 2rem;
    min-width: 2rem;
    padding: 0.3rem;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.task-clear-label-x{
    /* justify-self: center; */

}

.task-clear-button{
    display: none;
}

.last-row{
    border-bottom: none !important;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;   
    display:flex;
    min-height: 3rem;
    height: 3rem;
    justify-content: space-between;
    font-size: 0.9rem;
}

.items-left{
    display: flex;
    justify-self: flex-start;
    align-self: center;
    padding-left: 1rem;
}

.clear-completed{
    display:flex;
    justify-content: end;
    align-self: center;
    padding-right: 1rem;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
.clear-completed:hover .clear-completed-text{
    
}

.selectors-wrapper{
    margin-top: 1rem;
    border-radius: 7px;
    display:flex;
    min-height: 3rem;
    height: 3.2rem;
    justify-content:center;
    font-size: 1rem;
    font-weight: bolder;
    -moz-transition: color 0.4s;
}

.selectors-wrapper div{
    align-self: center;
    padding: 0 0.5rem;
}

.selected-selector{
    color: hsl(220, 98%, 61%);
}

label:hover{
    cursor:pointer;
}

.to-do:hover .task-clear-label {
    opacity: 1;
}

.completed-task{
    text-decoration: line-through;
}

.drag-target-below{
	position: absolute;
    width: 85%;
    max-width: 450px;
	height: 5rem;
    z-index: -1;
    transform: translateY(-1rem);
}

.drag-target-above {
	position: absolute;
    width: 85%;
    max-width: 450px;
	height: 1.5rem;
    z-index: -1;
    transform: translateY(-0.5rem);
}

.increase-z-index{
    z-index:5 !important;
}

.max-footer{
    position:absolute;
    bottom: 0;
    margin: 0 auto;
}